*{
    margin: 0;
    --item-width: 4.5cm;
    
    --item-color: #4d5d85;
    --button-color:#1f2535;
    --button-hover: #444a59;
    --button-click: #323d59;
    --top-nav: #6074a6;
    --top-nav-padding: .7cm;
    --button-padding: .4cm;
    --background-color:#242c3f;
    --text-color:#ffffff;
    --shaddow-color: #0c0e15;
    --top-nav-shaddow: #050609;
    color: var(--text-color)
   
}
body{
    background-color: var(--background-color);
}
.top_nav{
   background-color: var(--top-nav); 
   margin:0;
   margin-right: 0;
   top: 0;
   width:100%;
   padding-top: var(--top-nav-padding);
   padding-bottom: var(--top-nav-padding);
   position: -webkit-sticky;
    position:sticky;
    z-index: 2;
   overflow: hidden;
    box-shadow: .01cm .01cm .7cm var(--top-nav-shaddow);
}
.top_nav a{
    margin-right: .7cm;
    margin-left: auto;
    background-color: var(--button-color);
    border: none;
    font-size: 16px;
    padding:1cm;
    padding-top: 100%;
    padding-bottom: 100%;
    cursor: pointer;
    z-index: 3;
    text-decoration: none;
}
.top_nav a:hover{
    background-color: var(--button-hover);
}
.top_nav a:active{
    background-color: var(--button-click);
}
.body{
    padding: 10px;
    
}
.container{
    padding: .5cm;
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--item-width));
    grid-template-rows: repeat(auto-fill,auto);
    grid-gap: 1cm;
}
.item{
    background-color: var(--item-color);
    padding: .1cm;
    width: var(--item-width);
    position: relative;
    box-shadow: .1cm .1cm .1cm var(--shaddow-color)
}
.thumbnail{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: .1cm;
    margin-top: .1cm;
}
.download{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: .1cm;
    margin-top: .1cm;
    background-color: var(--button-color);
    border-radius: 10%;
    border: none;
    font-size: 16px;
    padding:.4cm;
    text-decoration: none;
    color:black;
    width:50%
}
.download:hover{
    background-color: var(--button-hover);
}
.download:active{
    background-color: var(--button-click);
    transform: translateY(.5cm);
}
ul{
    list-style-type: none;
}
li {
    display: inline;
}
li:last-child{
    float: right;
}

.upload_overlay{
    height: 0%;
    width: 100%;
    background-color: #252525e3;
    position: fixed;
    overflow-y: hidden;
    z-index: 3;
}
.uploader_form{
    margin: 2cm;
    padding: 4cm;
    align-content: center;
    background-color: var(--item-color);
}
.item_name{
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info{
    position: absolute;
    right:0;
}